# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
* Python
* SQL
* Java

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. SQL
    3. Java

Some of the commonly used libraries used by Data Scientists include:
    
    1.Pandas
    2.Pytorch
    3.TensorFlow

| Data Science Tools |
----------------------
|elasticsearch       |
|seph                |
|mysql               |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [16]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [9]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200/60
hours

3.3333333333333335

## Author: 
Nicholas Andersen